
body {
    background-color: black;
}

/* Efecto de iluminación al pasar el cursor */
a, button, .elemento-interactivo {
    transition: background-color 0.1s ease;
}

a:hover, button:hover, .elemento-interactivo:hover {
    background: linear-gradient(rgba(132, 4, 244, 0.767), rgba(219, 221, 222, 0.9)); /* Morado a azul cielo */
    background-size: cover;
    border-bottom: 20px solid rgb(255, 255, 255);
    border-bottom: 6px;
}

/* Barra de navegación */
.navbar {
    padding: 2rem;
    background: linear-gradient(rgba(31, 3, 55, 0.767), rgba(135, 206, 235, 0.9)); /* Morado a azul cielo */
    background-size: cover;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@keyframes parpadeo {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.navbar .nav-link {
    animation: parpadeo 1s infinite ease-in-out;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: #c0c0c0;
    text-decoration: underline;
}

.navbar-brand, .navbar-nav {
    align-items: center;
}

@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-item {
        margin-left: 0;
    }
}

/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-oscura {
    color: white;
    background: linear-gradient(rgba(44, 2, 79, 0.767), rgba(135, 206, 235, 0.9)); /* Morado a azul cielo */
  }
  
  
  .seccion-clara {
    color: black;
    background-color: white;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  .seccion-texto {
    font-size: 1.5rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: rgb(255, 255, 255);
  }
  
  /* Seccion Hero */
  
  .hero {
    background-color: #000000;
    min-height: 450px;
    text-align: center;
  }
  
  .hero-principal {
    padding: 3rem;
  }
  
  .hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
  }
  
  
  /* Sobre mi */
  
  .sobre-mi {
    height: 500px;
    padding: 10px;
  }
  
  .sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
  }

  .image-johan {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
  }

.hero-superior h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-superior p {
    font-size: 1.2rem;
}
  
 

  /* footer */
  footer {
    min-height: 500px;
  }
  

  .footer-logo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 15px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #000000;
    padding: 20px;
  }